---
layout: default
---

<div class="archive">
    <h1 class="archive-year">Pinned</h1>
    {% for post in site.posts %} 
        {% if post.pinned == true %}
            <div class="archive-item">
                <span class="post-date archive-date fs-4">{{ post.date | date: "%Y-%m-%d" }}</span>
                <a style="font-weight:bold;" href="{{ post.url | relative_url }}" class="archive-title fs-4">{{ post.title }}</a>
            </div>
        {% endif %}
    {% endfor %}

    {% for post in site.posts %} 
        {% assign currDate = post.date | date: "%Y" %}
        {% if post.private == true %}
              {% continue %}
        {% endif %}

        {% if currDate != date %}
            <h1 class="archive-year">{{ currDate }}</h1>
            {% assign date = currDate %}
        {% endif %}
            <div class="archive-item">
                <span class="post-date archive-date fs-4">{{ post.date | date: "%Y-%m-%d" }}</span>
                <a style="font-weight:bold;" href="{{ post.url | relative_url }}" class="archive-title fs-4">{{ post.title }}</a>
            </div>
    {% endfor %}
</div>
