---
layout: default
title: Tags
permalink: /tags/
---

{% assign sorted = site.tags | sort %}

{% for tag in sorted %}
    <h3>&#128278;<a href="{{site.url}}{{site.baseurl}}/tags/#{{tag[0]}}">{{ tag[0] }}</a></h3>
    {% for post in tag[1] %}
    {% if post.private == true %}
          {% continue %}
    {% endif %}

    <div class="archive-item">
      <div class="archive-row">
        <div class="archive-date">{{ post.date | date: "%Y-%m-%d" }} &raquo;</div>
        <div class="archive-title">
          <a href="{{ post.url | relative_url }}" class="fs-4" style="font-weight: bold;">{{ post.title }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <br>
{% endfor %}

