---
layout: default
title: Tags
permalink: /tags/
---

{% assign sorted = site.tags | sort %}

<ul>
    {% for tag in sorted %}
        <li id="{{ tag[0] }}">
            <b>&#128278;<a href="{{site.url}}{{site.baseurl}}/tags/#{{tag[0]}}">{{ tag[0] }}</b></a>
        </li>
        {% for post in tag[1] %}
        {% if post.private == true %}
              {% continue %}
        {% endif %}

            {{ post.date | date:"%Y-%m-%d" }} &raquo; <a style="font-weight:bold;color:black" href="{{site.url}}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <br>
        {% endfor %}
        <br>
    {% endfor %}
</ul>

