<div class="footer">
        <hr>
        <a href="{{ site.footer_url_github }}">{{ site.footer_text_github }}</a>
        <a href="{{ site.footer_url_twitter }}">{{ site.footer_text_twitter }}</a>
        <a href="{{ site.footer_url_weibo }}">{{ site.footer_text_weibo }}</a>
        <a href="{{ site.footer_url_email }}">{{ site.footer_text_email }}</a>
        <a href="{{ site.footer_url_license }}">{{ site.footer_text_license }}</a>
        <a href="{{ site.footer_url_rss_xml }}">{{ site.footer_text_rss_xml }}</a>
        <a href="{{ site.footer_url_rss_json }}">{{ site.footer_text_rss_json }}</a>
        <br>
        Visits: (<span id="visits"></span>) Times
</div>

