---
layout: post
date: 2021-01-10
title: "[Pinned] Movie Subtitles Summary List by Coralsundy"
subtitle: "[Pinned] Movie Subtitles Summary List by Coralsundy"
author: coralsundy
pinned: true
tags: [subtitle, movie]
---
<br>
This post maintains a list of subtitles from my projects, either by myself or work with others.
All the subtitles provided here are free of charge.
You can have it for personal use only, no commercialized purpose or distribution without citation to my site.
<br>
<br>
<strong><u>Note</u>: I only provide subtitles of my own work, or subtitles that are permitted to be shared by the tranlators I worked with. You need to own a copy of the movie to enjoy. I will not in anyway provide any movie files on my site.</strong>
<br>
<br>
<hr>
<br>


{% assign sorted = site.posts | sort: "movie_year" -%}
{% assign subtitle_post_counter = 0 -%}
{% assign subtitle_year_2021 = 0 -%}
{% assign subtitle_year_2021_chs = 0 -%}
{% assign subtitle_year_2021_eng = 0 -%}
{% assign subtitle_year_2022 = 0 -%}
{% assign subtitle_year_2022_chs = 0 -%}
{% assign subtitle_year_2022_eng = 0 -%}
{% assign subtitle_year_2023 = 0 -%}
{% assign subtitle_year_2023_chs = 0 -%}
{% assign subtitle_year_2023_eng = 0 -%}
{% assign subtitle_year_2024 = 0 -%}
{% assign subtitle_year_2024_chs = 0 -%}
{% assign subtitle_year_2024_eng = 0 -%}
{% assign subtitle_year_2025 = 0 -%}
{% assign subtitle_year_2025_chs = 0 -%}
{% assign subtitle_year_2025_eng = 0 -%}
{% assign subtitle_year_2026 = 0 -%}
{% assign subtitle_year_2026_chs = 0 -%}
{% assign subtitle_year_2026_eng = 0 -%}

{% for post in sorted -%}

    {% if post.pinned != true -%}
        {% if post.category == "subtitle" -%}
            {% assign subtitle_post_counter = subtitle_post_counter | plus: 1 -%}
            {% assign tempDate = post.date | date: "%Y-%m-%d" -%}
            {% if tempDate contains "2021"  -%}
                {% assign subtitle_year_2021 = subtitle_year_2021 | plus: 1 -%}
                {% for tag in post.tags -%}
                    {% if tag == "chs_subtitle" -%}
                        {% assign subtitle_year_2021_chs = subtitle_year_2021_chs | plus: 1 -%}
                    {% endif -%}
                    {% if tag == "eng_subtitle" -%}
                        {% assign subtitle_year_2021_eng = subtitle_year_2021_eng | plus: 1 -%}
                    {% endif -%}
                {% endfor -%}
            {% endif -%}
            {% if tempDate contains "2022" -%}
                {% assign subtitle_year_2022 = subtitle_year_2022 | plus: 1 -%}
                {% for tag in post.tags -%}
                    {% if tag == "chs_subtitle" -%}
                        {% assign subtitle_year_2022_chs = subtitle_year_2022_chs | plus: 1 -%}
                    {% endif -%}
                    {% if tag == "eng_subtitle" -%}
                        {% assign subtitle_year_2022_eng = subtitle_year_2022_eng | plus: 1 -%}
                    {% endif -%}
                {% endfor -%}
            {% endif -%}
            {% if tempDate contains "2023" -%}
                {% assign subtitle_year_2023 = subtitle_year_2023 | plus: 1 -%}
                {% for tag in post.tags -%}
                    {% if tag == "chs_subtitle" -%}
                        {% assign subtitle_year_2023_chs = subtitle_year_2023_chs | plus: 1 -%}
                    {% endif -%}
                    {% if tag == "eng_subtitle" -%}
                        {% assign subtitle_year_2023_eng = subtitle_year_2023_eng | plus: 1 -%}
                    {% endif -%}
                {% endfor -%}
            {% endif -%}
            {% if tempDate contains "2024" -%}
                {% assign subtitle_year_2024 = subtitle_year_2024 | plus: 1 -%}
                {% for tag in post.tags -%}
                    {% if tag == "chs_subtitle" -%}
                        {% assign subtitle_year_2024_chs = subtitle_year_2024_chs | plus: 1 -%}
                    {% endif -%}
                    {% if tag == "eng_subtitle" -%}
                        {% assign subtitle_year_2024_eng = subtitle_year_2024_eng | plus: 1 -%}
                    {% endif -%}
                {% endfor -%}
            {% endif -%}
            {% if tempDate contains "2025" -%}
                {% assign subtitle_year_2025 = subtitle_year_2025 | plus: 1 -%}
                {% for tag in post.tags -%}
                    {% if tag == "chs_subtitle" -%}
                        {% assign subtitle_year_2025_chs = subtitle_year_2025_chs | plus: 1 -%}
                    {% endif -%}
                    {% if tag == "eng_subtitle" -%}
                        {% assign subtitle_year_2025_eng = subtitle_year_2025_eng | plus: 1 -%}
                    {% endif -%}
                {% endfor -%}
            {% endif -%}
            {% if tempDate contains "2026" -%}
                {% assign subtitle_year_2026 = subtitle_year_2026 | plus: 1 -%}
                {% for tag in post.tags -%}
                    {% if tag == "chs_subtitle" -%}
                        {% assign subtitle_year_2026_chs = subtitle_year_2026_chs | plus: 1 -%}
                    {% endif -%}
                    {% if tag == "eng_subtitle" -%}
                        {% assign subtitle_year_2026_eng = subtitle_year_2026_eng | plus: 1 -%}
                    {% endif -%}
                {% endfor -%}
            {% endif -%}
            <div class="archive-item">
              <div class="archive-row">
                <div class="archive-date movie-year fs-4">{{ post.movie_year }} &raquo;</div>
                <div class="archive-title">
                  <a href="{{ post.url | relative_url }}" class="fs-4" style="font-weight: bold;">{{ post.title }}</a>
                </div>
              </div>
            </div>
        {% endif -%}
    {% endif -%}

{% endfor -%}
<br>

<hr>

<div class="archive-item">
<pre>
<strong><u>Subtitle Stats:</u></strong><br>
<strong>2021 Total Subs:</strong> {{ subtitle_year_2021 }}, <strong>Chinese Subs:</strong> {{ subtitle_year_2021_chs }}, <strong>English Subs:</strong> {{ subtitle_year_2021_eng }}<br>
<strong>2022 Total Subs:</strong> {{ subtitle_year_2022 }}, <strong>Chinese Subs:</strong> {{ subtitle_year_2022_chs }}, <strong>English Subs:</strong> {{ subtitle_year_2022_eng }}<br>
<strong>2023 Total Subs:</strong> {{ subtitle_year_2023 }}, <strong>Chinese Subs:</strong> {{ subtitle_year_2023_chs }}, <strong>English Subs:</strong> {{ subtitle_year_2023_eng }}<br>
<strong>2024 Total Subs:</strong> {{ subtitle_year_2024 }}, <strong>Chinese Subs:</strong> {{ subtitle_year_2024_chs }}, <strong>English Subs:</strong> {{ subtitle_year_2024_eng }}<br>
<strong>2025 Total Subs:</strong> {{ subtitle_year_2025 }}, <strong>Chinese Subs:</strong> {{ subtitle_year_2025_chs }}, <strong>English Subs:</strong> {{ subtitle_year_2025_eng }}<br>
<strong>2026 Total Subs:</strong> {{ subtitle_year_2026 }}, <strong>Chinese Subs:</strong> {{ subtitle_year_2026_chs }}, <strong>English Subs:</strong> {{ subtitle_year_2026_eng }}<br>
<strong>Total:</strong> {{ subtitle_post_counter }}<br>
</pre>
</div>


