---
layout: post
title: "[Pinned] Movie Subtitles Summary List by Coralsundy"
subtitle: "[Pinned] Movie Subtitles Summary List by Coralsundy"
author: coralsundy
pinned: true
tags: [subtitle, movie]
---

This post maintains a list of subtitles from my projects, either by myself or work with others.
All the subtitles provided here are free of charge.
You can have it for personal use only, no commercialized purpose or distribution without citation to my site.
<br>
<br>
<strong><u>Note</u>: I only provide subtitles of my own work, or subtitles that are permitted to be shared by the tranlators I worked with. You need to own a copy of the movie to enjoy. I will not in anyway provide any movie files on my site.</strong>
<br>
<br>

<hr>
<br>




{% assign sorted = site.posts | sort: "movie_year" %}

{% for post in sorted %}

       {% if post.pinned != true %}
           {% for tag in post.tags %}
                {% if tag == "subtitle" %}

                    <div class="archive-item">
                        <span class="movie-year archive-date fs-4">{{ post.movie_year }} &raquo; </span>
                        <a style="font-weight:bold;" href="{{ post.url | relative_url }}" class="archive-title fs-4">{{ post.title }}</a>
                    </div>
                {% endif %}
           {% endfor %}
       {% endif %}

{% endfor %}




