<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
</head>


{% include head.html %}

<body>
    <div class="container">
        {% include navbar.html %}
        <div class="page-title">
            {{page.title}}
        </div>
        <div class="content">
            {{ content }}

            {% if page.id %}

                <hr>
                <br>
                {% if page.next.url %}
                    <a href="{{ page.next.url }}">
                      <div>&raquo;<i> Next Post: <strong>{{ page.next.title }}</strong></i></div>
                    </a>
                {% endif %}

                {% if page.previous.url %}
                    <a href="{{ page.previous.url }}">
                      <div>&laquo;<i> Prev Post: <strong>{{ page.previous.title }}</strong></i></div>
                    </a>
                {% endif %}

            <p style="font-size:70%"><a href="{{site.url}}{{ page.url }}"><strong>{{ page.title }}</strong></a> is published on {{ page.date | date: "%Y-%m-%d"}}.</p>

            {% endif %}

        </div>
        {% include footer.html %}
    </div>



</body>
</html>
